<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee"  version="6.0">
  <servlet>
    <description></description>
    <display-name>registerServlet</display-name>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>Servlets.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <display-name>MealMate</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>registerServletController</display-name>
    <servlet-name>registerServletController</servlet-name>
    <servlet-class>Servlets.registerServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServletController</servlet-name>
    <url-pattern>/registerServletController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServletController</display-name>
    <servlet-name>loginServletController</servlet-name>
    <servlet-class>Servlets.loginServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServletController</servlet-name>
    <url-pattern>/loginServletController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signoutServletController</display-name>
    <servlet-name>signoutServletController</servlet-name>
    <servlet-class>Servlets.signoutServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signoutServletController</servlet-name>
    <url-pattern>/signoutServletController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>Connection.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>Servlets.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteOrderServletController</display-name>
    <servlet-name>deleteOrderServletController</servlet-name>
    <servlet-class>Servlets.deleteOrderServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteOrderServletController</servlet-name>
    <url-pattern>/deleteOrderServletController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deliveryLoginServletController</display-name>
    <servlet-name>deliveryLoginServletController</servlet-name>
    <servlet-class>Servlets.deliveryLoginServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deliveryLoginServletController</servlet-name>
    <url-pattern>/deliveryLoginServletController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deliverySignOutController</display-name>
    <servlet-name>deliverySignOutController</servlet-name>
    <servlet-class>Servlets.deliverySignOutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deliverySignOutController</servlet-name>
    <url-pattern>/deliverySignOutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addToListServletController</display-name>
    <servlet-name>addToListServletController</servlet-name>
    <servlet-class>Servlets.addToListServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addToListServletController</servlet-name>
    <url-pattern>/addToListServletController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateUserServletController</display-name>
    <servlet-name>updateUserServletController</servlet-name>
    <servlet-class>Servlets.updateUserServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateUserServletController</servlet-name>
    <url-pattern>/updateUserServletController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteUserServletController</display-name>
    <servlet-name>deleteUserServletController</servlet-name>
    <servlet-class>Servlets.deleteUserServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteUserServletController</servlet-name>
    <url-pattern>/deleteUserServletController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addDishesServletController</display-name>
    <servlet-name>addDishesServletController</servlet-name>
    <servlet-class>Servlets.addDishesServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addDishesServletController</servlet-name>
    <url-pattern>/addDishesServletController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>orderNowServletController</display-name>
    <servlet-name>orderNowServletController</servlet-name>
    <servlet-class>Servlets.orderNowServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>orderNowServletController</servlet-name>
    <url-pattern>/orderNowServletController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>withdrawServletController</display-name>
    <servlet-name>withdrawServletController</servlet-name>
    <servlet-class>Servlets.withdrawServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>withdrawServletController</servlet-name>
    <url-pattern>/withdrawServletController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deliveryDoneServletController</display-name>
    <servlet-name>deliveryDoneServletController</servlet-name>
    <servlet-class>Servlets.deliveryDoneServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deliveryDoneServletController</servlet-name>
    <url-pattern>/deliveryDoneServletController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deliverRegisterServletController</display-name>
    <servlet-name>deliverRegisterServletController</servlet-name>
    <servlet-class>Servlets.deliverRegisterServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deliverRegisterServletController</servlet-name>
    <url-pattern>/deliverRegisterServletController</url-pattern>
  </servlet-mapping>
</web-app>